* {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
body {
  font-family: 'Figtree', sans-serif;
  background-color: hsl(47, 88%, 63%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.card {
  background: #fff;
  border-radius: 15px;
  border: 1px solid #000;
  padding: 20px;
  max-width: 350px;
  box-shadow: 8px 8px 0 #000;
  font-family: "Figtree", Sans-Serif;
}
.tag {
  background: #f4d04e;
  color: #111;
  font-size: 14px;
  font-weight: 700;
  padding: 6px 12px;
  border-radius: 6px;
  display: inline-block;
  margin-bottom: 10px;
}
.date {
  color: #555;
  font-size: 13px;
  margin-bottom: 12px;
}
.title {
  font-size: 20px;
  font-weight: 800;
  color: #111;
  margin-bottom: 12px;
  cursor: pointer;
}
.tilte:hover {
  color: #f4d04e;
}
.description {
  color: #555;
  font-size: 16px;
  margin-bottom: 20px;
}
.author {
  display: flex;
  align-items: center;
  gap: 10px;
}
.author img {
  width: 32px;
  height: 32px;
  border-radius: 50px;
}
.attribution {
  font-size: 11px;
  text-align: center;
  margin: 20px 0;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}